/* barra navegadora */

.navbar{
    background-color: $backgroundcolor_menu;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    align-items: center;
    .logo{
        width: 150px;
        height: 70px;
        grid-column: 2 / 3;}
    }

    .menu{
        grid-column: 4 / 7;
        display: flex;
        justify-content: space-around;
        li{
            list-style: none;
        }
        a{
            text-decoration: none;
            color: whitesmoke;
            cursor: pointer;
        }
        a:hover{
            color: black; 
        }
        .menu-bar{
            display: none;
        }
    }


