@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&family=Mulish:wght@500&family=Noto+Sans+JP&family=Oswald:wght@600&family=Roboto:wght@100;300;400&family=Ubuntu:wght@500&display=swap');


/*media queries*/

@media only screen and (max-width: 600px){

    body {
        background-color: rgb(255, 224, 247);
    }

    .navbar {
        position: relative;  
    }
    
    .navbar .menu-bar{
        display: block;
        grid-column: 8/9;
        font-size: 2em;
        cursor: pointer;
    }

    .navbar .menu{
        position: absolute;
        width: 100%;
        height: 70vh;
        display: grid;
        align-items: center;
        background-color:rgb(208, 18, 87);
        margin-top: 38em;
        transform: translateX(170%);
        
    }
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

/* barra navegadora */
.navbar{
    background-color: rgb(208, 18, 87);
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    align-items: center;
}

.navbar .logo{
    width: 150px;
    height: 70px;
    grid-column: 2 / 3;
}

.navbar .menu{
    grid-column: 4 / 7;
    display: flex;
    justify-content: space-around;
}

.navbar .menu li{
    list-style: none;
}

.navbar .menu a{
    text-decoration: none;
    color: whitesmoke;
    cursor: pointer;
}

.navbar .menu a:hover{
    color: black; 

}
.navbar .menu-bar{
    display: none;
}

/* fin barra navegadora */

/* seccion main */

.info{
    height: 80vph;
    background-image: url(./img/running-g6e68e8b2e_640.jpg);
    background-size: cover ;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(12, 1fr);
}

.info .info-content{
    grid-column: 2 / 5;
    grid-row: 2 / 8;
    color: rgb(247, 94, 137);
   
}

.info h2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    font-size: 3em;
    font-weight: 600;
    color: rgb(228, 4, 117);
}

.info .btn{
    font-size: 1em;
    background: none;
    color: white;
    padding: 5px 10px;
    border: 1px solid rgb(251, 144, 183);
    border-radius: 20px;
    margin-top: 10px;
    cursor: pointer;
}

.info .btn:hover{
    background-color: rgb(228, 4, 117);
}

/* footer */

.footer{
    display: grid;
    height: 60px;
    align-items: center;
    background-color: black;
    color: white;
    grid-template-areas: "follow-me phone social-net"
}

.footer .phone{
    grid-template-areas: phone;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.footer .phone .fa-brands{
    font-size: 2em;
    margin-right: 3px;
}

.footer .follow-me{
    text-align: center;
}

.footer .social-net{
    font-size: 2em;
}

/*--FORMULARIO DE CONTACTO--*/

.contenedor{
    margin-top: 35px;
    margin-bottom: 100px;
}

.contenedor .form .form-header .form-title{
    font-weight: normal;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: black;
    text-align: center;    
}

.contenedor .form .form-header .form-title span {
    color: black;   

}

.contenedor .form {
    background: white;
    height: 250px;
    width: 100%;
    max-width: 500px;
    margin: auto;
    padding: 5px 35px;
    margin-top: 30px;
    padding-bottom: 30px;
    border-radius: 5%; 
}

.contenedor .form .form-label{
    display: block;
    color: black;
    font-size: 16px;
    position: relative;
}

.contenedor .form .form-input, .form.textarea{
    background: rgb(247, 238, 238);
    border: none;
    outline: none;
    border-bottom: 2px solid rgb(255, 68, 159)
}

.img-contacto{
    background-image: url(./img/equipo\ sabado.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

/* info contacto */

.text1{
    color: white;
    background-color: rgb(51, 44, 57);
    font-weight: 200px;
    padding: 10px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/* NOSOTROS */

/* .nosotros{
    background-image: url(./img/dua\ pto\ madero.jpg);
    width: 1250px;
    height: 1200px;
    background-repeat: no-repeat;
} */

.nosotros .nosotros-info{
    background-color: rgb(37, 31, 68);
    opacity: .2;
    color: white ;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    margin: 10px;
    width: 100%;
    justify-content: center;
    padding: 30px;
}
/* MAPA */
.info-mapa{
    background-color: rgb(37, 31, 68);
    opacity: .2;
    color: white ;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15   px;
    margin: 10px;
    width: 100%;
    justify-content: center;
    padding: 30px;
}

.mapa{
    margin: 12px;
}

/* RUNNING */

.info-carreras{
    background-color: rgb(37, 31, 68);
    opacity: .2;
    color: white ;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15   px;
    margin: 10px;
    width: 100%;
    justify-content: center;
    padding: 30px;

}

/* FIN RUNNING */

/* TRIATLON */


h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: large;
    height: 50px;
   padding: 10px ;
    font-weight: 10px;
    text-align: center;
    background-color: rgb(236, 223, 229);
    color: rgb(21, 21, 21) ;
}
.gallery-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 150px;
    padding: 25px;
    grid-gap: 30px;
}

.gallery__img{
    width: 100%;
    height: 100%; 
    object-fit: cover;
}

.gallery__item:nth-child(1){
    grid-column-start: span 1;
    grid-row-start: span 3;
}
.gallery__item:nth-child(2){
    grid-column-start: span 2;
    grid-row-start: span 2;
}
.gallery__item:nth-child(3){
    grid-column-start: span 1;
    grid-row-start: span 3;
}
.gallery__item:nth-child(4){
    grid-column-start: span 1;
    grid-row-start: span 2;
}

.gallery__item:nth-child(5){
    grid-row-start: span 2;
   
}

.gallery__item:nth-child(6){
    grid-column-start: span 1;
    grid-row-start: span 2;
}

.gallery__item:nth-child(7){
    grid-column-start: span 1;
    grid-row-start: span 3;
}
.gallery__item:nth-child(8){
    grid-column-start: span 1;
    grid-row-start: span 3;
}
.gallery__item:nth-child(9){
    grid-column-start: span 1;
    grid-row-start: span 2;
}

.gallery__title{
    color: lightpink;
    background-color: palevioletred;
    margin-bottom: 5px;
    margin-top: 0;
}